.wrapper {
  display: grid;
  gap: 3px;
  grid-template-columns: 400px  auto;
  grid-template-rows: 180px   auto;
}
.box{
  box-sizing: border-box;
  color: #e74b87;
  border-color: rgb(5, 5, 5);
  border-width: 2px;
  background-color: rgb(70, 68, 57);

  border-spacing: 3px;
  text-align: left;
 
}